* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
}

.header{
  height: 60px;
  background-color: blueviolet;
}

.main-menu li{
  display: inline-block;
  padding: 5px 20px;
}

.main-content{
  padding: 30px;
}

.footer{
  height: 40px;
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
